<a href="https://colab.research.google.com/github/j764012/data-science-exercise/blob/main/task03_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import time
import sqlite3
movie_ = ['thisweek','intheaters', 'comingsoon']
for movie_type in movie_:
  name_ch_list = []
  name_en_list = []
  date = []
  good = []


  url = f'https://movies.yahoo.com.tw/movie_{movie_type}.html?page=1'
  response = requests.get(url)
  soup = BeautifulSoup(response.text)
  page = int(soup.find('div', class_='page_numbox').find_all('li')[-3].text)
  
  for num in range(1, page):
    # time.sleep(5)
    url = f'https://movies.yahoo.com.tw/movie_{movie_type}.html?page={num}'
    response = requests.get(url)
    soup = BeautifulSoup(response.text)
    
    
    

    for i in soup.find('div', class_='release_box').find('ul', class_='release_list').find_all('li'):

      name_ch_list.append(i.find('div', class_= 'release_movie_name')\
        .find_all('a', class_='gabtn')[0].text.strip())
      
      name_en_list.append(i.find('div', class_= 'release_movie_name')\
        .find_all('a', class_='gabtn')[1].text.strip())
      
      date.append(i.find('div', class_='release_movie_time').text.strip()[-10:])

      if  i.find('dl', class_='levelbox').find('div', class_='leveltext'):
        good.append(i.find('dl', class_='levelbox').find('div', class_='leveltext').span.text)
      else:
        good.append(' ')

  if movie_type == 'thisweek':
    movie_this_week = pd.DataFrame({'Chinse_name':name_ch_list,'Englist_name':name_en_list, 'date':date, 'good':good})
  elif movie_type == 'intheaters':
    movie_intheaters= pd.DataFrame({'Chinse_name':name_ch_list,'Englist_name':name_en_list, 'date':date, 'good':good})
  elif movie_type == 'comingsoon':
    movie_comingsoon = pd.DataFrame({'Chinse_name':name_ch_list,'Englist_name':name_en_list, 'date':date, 'good':good})


conn = sqlite3.connect('/content/drive/MyDrive/1116031/python basic/movie_info.db')

conn.execute('''CREATE TABLE IF NOT EXISTS thisweek_movie_info (chinse name TEXT, english name TEXT, date TEXT, good INT )
            ''')
conn.execute('''CREATE TABLE IF NOT EXISTS intheaters_movie_info (chinse name TEXT, english name TEXT, date TEXT, good INT )
            ''')
conn.execute('''CREATE TABLE IF NOT EXISTS comingsoon_movie_info (chinse name TEXT, english name TEXT, date TEXT, good INT )
            ''')
movie_this_week.to_sql('thisweek_movie_info', conn, if_exists='replace', index=False)
movie_intheaters.to_sql('intheaters_movie_info', conn, if_exists='replace', index=False)
movie_comingsoon.to_sql('comingsoon_movie_info', conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [ ]:
movie_this_week

      Chinse_name               Englist_name        date  good
0          鬼玩人：復活             Evil Dead Rise  2023-04-20  100%
1            愛是自私                     Egoist  2023-04-21  100%
2            月之圓缺         Phases of the Moon  2023-04-21  100%
3      電影刀劍亂舞-黎明-  Touken Ranbu: The Movie 2  2023-04-21  100%
4             炸彈客                 The Bomber  2023-04-21   75%
5             屍智症                The Elderly  2023-04-21  100%
6  電影版 佐佐木與宮野 卒業篇                             2023-04-21  100%
7            寶可噩夢             Beau Is Afraid  2023-04-21  100%
8              詭樓             Lockdown Tower  2023-04-21  100%
9            絕地營救               The Covenant  2023-04-21  100%

In [ ]:
conn = sqlite3.connect('movie_info.db')

conn.execute('''CREATE TABLE IF NOT EXISTS thisweek_movie_info (chinse name TEXT, english name TEXT, date TEXT, good INT )
            ''')
conn.execute('''CREATE TABLE IF NOT EXISTS intheaters_movie_info (chinse name TEXT, english name TEXT, date TEXT, good INT )
            ''')
conn.execute('''CREATE TABLE IF NOT EXISTS comingsoon_movie_info (chinse name TEXT, english name TEXT, date TEXT, good INT )
            ''')
movie_this_week.to_sql('thisweek_movie_info', conn, if_exists='replace', index=False)
movie_intheaters.to_sql('intheaters_movie_info', conn, if_exists='replace', index=False)
movie_comingsoon.to_sql('comingsoon_movie_info', conn, if_exists='replace', index=False)

conn.commit()
conn.close()