<a href="https://colab.research.google.com/github/j764012/data-science-exercise/blob/main/task07_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01

In [ ]:
import numpy as np
import pandas as pd

ipl_data = {
    'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
    'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
    'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
    'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
    'Points':[876,789,863,673,741,812,756,788,694,701,804,690]
}
df = pd.DataFrame(ipl_data)

In [ ]:
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [ ]:
team_year_count = df.pivot_table(index = 'Year' , columns = 'Team' , values = 'Rank' , aggfunc = 'count')

print(team_year_count )

Team  Devils  Kings  Riders  Royals  kings
Year
2014     1.0    1.0     1.0     1.0    NaN
2015     1.0    NaN     1.0     1.0    1.0
2016     NaN    1.0     1.0     NaN    NaN
2017     NaN    1.0     1.0     NaN    NaN

# 02

In [ ]:
import pandas as pd
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
source = 'https://raw.githubusercontent.com/cbrownley/foundations-for-analytics-with-python/master/statistics/winequality-both.csv'
df = pd.read_csv(source)
train , test = train_test_split(df, test_size=0.2)

testy = test['quality']
testX = sm.add_constant(test[test.columns.difference(['type','quality'])])


y = train['quality']
X = sm.add_constant(train[train.columns.difference(['type','quality'])])

model = sm.OLS(y, X).fit()# A  使用statsmodels OLS 進行回歸

print(model.summary()) # B  模型模型的摘要
print(model.predict(testX)) #  test資料預測

                            OLS Regression Results
==============================================================================
Dep. Variable:                quality   R-squared:                       0.289
Model:                            OLS   Adj. R-squared:                  0.288
Method:                 Least Squares   F-statistic:                     191.8
Date:                Wed, 26 Apr 2023   Prob (F-statistic):               0.00
Time:                        09:58:55   Log-Likelihood:                -5776.4
No. Observations:                5197   AIC:                         1.158e+04
Df Residuals:                    5185   BIC:                         1.166e+04
Df Model:                          11
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   55.1767     14.169      3.894      0.000      27.399      82.954
alcohol                  0.2683      0.020     13.567      0.000       0.230       0.307
chlorides               -0.2563      0.370     -0.692      0.489      -0.982       0.470
citric acid             -0.1108      0.089     -1.246      0.213      -0.285       0.064
density                -54.4501     14.453     -3.767      0.000     -82.784     -26.116
fixed acidity            0.0688      0.018      3.744      0.000       0.033       0.105
free sulfur dioxide      0.0049      0.001      5.896      0.000       0.003       0.007
pH                       0.4651      0.103      4.520      0.000       0.263       0.667
residual sugar           0.0424      0.006      7.137      0.000       0.031       0.054
sulphates                0.7218      0.084      8.542      0.000       0.556       0.887
total sulfur dioxide    -0.0023      0.000     -7.228      0.000      -0.003      -0.002
volatile acidity        -1.3472      0.087    -15.461      0.000      -1.518      -1.176
==============================================================================
Omnibus:                      108.548   Durbin-Watson:                   2.046
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              235.783
Skew:                          -0.023   Prob(JB):                     6.32e-52
Kurtosis:                       4.042   Cond. No.                     2.64e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.64e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
2885    6.139630
2884    6.705437
5080    5.778559
2927    5.988384
3126    5.961799
          ...
4376    6.244113
5706    6.632257
5229    5.844600
6256    6.240045
735     4.637185
Length: 1300, dtype: float64

In [ ]:
df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,white,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
6493,white,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
6494,white,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
6495,white,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
6496,white,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6